.mdl-list__item-primary-content .parking__color-state {
    background-color: hsla(120, 60%, 50%, 1);
}

.mdl-list__item-primary-content .parking__color-state--green {
    background-color: hsla(120, 60%, 50%, 1);
}

.mdl-list__item-primary-content .parking__color-state--orange {
    background-color: hsla(45, 60%, 50%, 1);
}

.mdl-list__item-primary-content .parking__color-state--red {
    background-color: hsla(0, 60%, 50%, 1);
}

.state__indicator {
    float: left;
}

.state__indicator::before {
    display: inline;
}

.state__indicator--up::before {
    content: '\02191';
}

.state__indicator--down::before {
    content: '\02193';
}

.state__indicator--equal::before {
    content: '\0003D';
}

.mdl-list__item--three-line .mdl-list__item-secondary-content {
    height: auto;
}

.mdl-list__item-secondary-content.parking__state {
    flex-flow: row;
}

.parking__state .state__indicator {
    font-weight: 700;
    font-size: 1.4rem;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
}