.mdl-list__item-primary-content .parking__color-state {
    background-color: hsla(120, 60%, 30%, 1);
}

.mdl-list__item-primary-content .parking__color-state--green {
    background-color: hsla(120, 60%, 30%, 1);
}

.mdl-list__item-primary-content .parking__color-state--orange {
    background-color: hsla(45, 60%, 30%, 1);
}

.mdl-list__item-primary-content .parking__color-state--red {
    background-color: hsla(0, 60%, 30%, 1);
}